@import "../../assets/style.less";

/* styles.css */
.accordion {
  max-width: 600px;
  margin: 4rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  font-size: 20px;
  background-color: white;
  border-radius: 4px;

  transition: background-color 0.3s ease; // Smooth background transition

  &:hover {
    background-color: #e6e6e6; // Slightly darker on hover
  }

  &.active {
    background-color: #d3d3d3; // Same as the content background when active
  }
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color:  rgb(211, 211, 211);
}

.accordion-dark {
  max-width: 600px;
  margin: 4rem auto;
}

.accordion-title-dark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  font-size: 20px;
  background-color: white;
  border-radius: 4px;

}

.accordion-title-dark,
.accordion-content-dark {
  padding: 1rem;
}

.accordion-content-dark {
  background-color:  rgb(35, 18, 18);
}



