@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@primary: #59ABDF;
@secondary: #A3CA67;
@tertiary: #F4F4F5;
@quaternary: #F3D250;
@quinary: #FF570C; 
@senary: #E9E9E9;
@other: #DF59AB;
@text-primary: #000000;
@text-secondary: #FFFFFF;

// colors for dark mode version
@primary-dark: #0A2463;
@secondary-dark: #c6c6c6;
@tertiary-dark: #247BA0;
@quaternary-dark: #ad8c06;
@quinary-dark: #B43E8F; 
@senary-dark: #E9E9E9;
@other-dark: #e25eee;
@text-primary-dark: #ffffff;
@text-secondary-dark: #000000;


#colors() {
  primary: @primary;
  secondary: @secondary;
  tertiary: @tertiary;
  quaternary: @quaternary;
  quinary: @quinary; 
  senary: @senary;
  other: @other;
  text-primary: @text-primary;
  text-secondary: @text-secondary;

  primary-dark: @primary-dark;
  secondary-dark: @secondary-dark;
  tertiary-dark: @tertiary-dark;
  quaternary-dark: @quaternary-dark;
  quinary-dark: @quinary-dark; 
  senary-dark: @senary-dark;
  other-dark: @other-dark;
  text-primary-dark: @text-primary-dark;
  text-secondary-dark: @text-secondary-dark;

}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.container {
    height: 100%;
    width: 100%;
    background-color: #colors[primary];
    min-height: 100vh;
    overflow-x: hidden;
}
.container::-webkit-scrollbar {
    display: none;
}

.vertical-container {
    margin: 1.5em;
}

.hvr-info {
    cursor: pointer;
}

.card {
    background-color: #colors[tertiary];
    padding: .7em;
}

.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}

.nav-padding {
    padding-top: 8vh;
}

.replayButton {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.container-dark::-webkit-scrollbar {
    display: none;
}

.card-dark {
    background-color: #colors[tertiary-dark];
    padding: .7em;
}


