@import '../../assets/style.less';

#box input[type='text'],
#box input[type='email'],
#box input[type='password'] {
  display: block;
  background: none;
  margin: 20px auto 0px;
  border: 2px solid;
  border-color: #colors[secondary];
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #colors[text-primary];
  border-radius: 8px;
  transition: 0.25s;
}

#box input[type='text']:focus,
#box input[type='email']:focus,
#box input[type='password']:focus {
  width: 220px;
}

#box #forgot-password {
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;

  transition: color 0.3s ease, text-decoration 0.3s ease; // Smooth transition for color and text-decoration

  &:hover {
    cursor: pointer;
    text-decoration: underline; // Underline on hover
    color: #F3D250; 
  }
}

//ForgetPassword

#forgot-pass-wrapper {
  margin: 12vh auto 8vh auto;
  display: inline-block;
}

#forgot-pass-title {
  background-color: #colors[secondary];
  border-radius: 80px;
  width: 80%;
  min-height: 8%;
  color: #colors[text-secondary];
  font-size: 1.4em;
  font-weight: bold;
  position: relative;
  top: 25px;
  left: -40px;
  line-height: 50px;
  text-align: center;
}

#forgot-pass-form {
  width: 400px;
  padding: 40px 20px;
  background-color: #colors[tertiary];
  text-align: center;
  border-radius: 15px;
  border: 4px solid;
  border-color: #colors[secondary];

  input,
  textarea {
    display: block;
    background: none;
    margin: 20px auto 0px;
    border: 2px solid;
    border-color: #colors[secondary];
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: #colors[text-primary];
    border-radius: 8px;
    transition: 0.25s;
  }

  .ant-btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #colors[quaternary];
    width: 50%;
    // display: block;
    margin: 0 auto;
    border: 2px solid;
    border-color: #colors[secondary];
    padding: 14px 40px;
    outline: none;
    color: #colors[text-primary];
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 30px;
    position: relative;
    bottom: -90px;

    &:hover {
      background-color: #colors[quinary];
    }
  }
}

//ResetPassword

#reset-pass-wrapper {
  margin: 12vh auto 8vh auto;
  display: inline-block;
}

#reset-pass-title {
  background-color: #colors[secondary];
  border-radius: 80px;
  width: 80%;
  min-height: 8%;
  color: #colors[text-secondary];
  font-size: 1.4em;
  font-weight: bold;
  position: relative;
  top: 25px;
  left: -40px;
  line-height: 50px;
  text-align: center;
}

#reset-pass-form {
  width: 400px;
  padding: 40px 20px;
  background-color: #colors[tertiary];
  text-align: center;
  border-radius: 15px;
  border: 4px solid;
  border-color: #colors[secondary];

  input[type='password'] {
    display: block;
    background: none;
    margin: 20px auto 0px;
    border: 2px solid;
    border-color: #colors[secondary];
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: #colors[text-primary];
    border-radius: 8px;
    transition: 0.25s;
  }

  .ant-btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #colors[quaternary];
    width: 50%;
    // display: block;
    margin: 0 auto;
    border: 2px solid;
    border-color: #colors[secondary];
    padding: 14px 40px;
    outline: none;
    color: #colors[text-primary];
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 30px;
    position: relative;
    bottom: -90px;

    &:hover {
      background-color: #colors[quinary];
    }
  }
}

#forgot-pass-form {
  width: 400px;
  padding: 40px 20px;
  background-color: #colors[tertiary];
  text-align: center;
  border-radius: 15px;
  border: 4px solid;
  border-color: #colors[secondary];

  input[type='email'] {
        display: block;
        background: none;
        margin: 20px auto 0px;
        border: 2px solid;
        border-color: #colors[secondary];
        padding: 14px 10px;
        width: 300px;
        outline: none;
        color: #colors[text-primary];
        border-radius: 8px;
        transition: 0.25s;
  }

  .ant-btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #colors[quaternary];
    width: 50%;
    // display: block;
    margin: 0 auto;
    border: 2px solid;
    border-color: #colors[secondary];
    padding: 14px 40px;
    outline: none;
    color: #colors[text-primary];
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 30px;
    position: relative;
    bottom: -90px;

    &:hover {
      background-color: #colors[quinary];
    }
  }

  
}


//ResetPassword

#reset-pass-wrapper {
  margin: 12vh auto 8vh auto;
  display: inline-block;
}

#reset-pass-title {
  background-color: #colors[secondary];
  border-radius: 80px;
  width: 80%;
  min-height: 8%;
  color: #colors[text-secondary];
  font-size: 1.4em;
  font-weight: bold;
  position: relative;
  top: 25px;
  left: -40px;
  line-height: 50px;
  text-align: center;
}

#reset-pass-form {
  width: 400px;
  padding: 40px 20px;
  background-color: #colors[tertiary];
  text-align: center;
  border-radius: 15px;
  border: 4px solid;
  border-color: #colors[secondary];

  input[type='password'] {
        display: block;
        background: none;
        margin: 20px auto 0px;
        border: 2px solid;
        border-color: #colors[secondary];
        padding: 14px 10px;
        width: 300px;
        outline: none;
        color: #colors[text-primary];
        border-radius: 8px;
        transition: 0.25s;
  }

  .ant-btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #colors[quaternary];
    width: 50%;
    // display: block;
    margin: 0 auto;
    border: 2px solid;
    border-color: #colors[secondary];
    padding: 14px 40px;
    outline: none;
    color: #colors[text-primary];
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 30px;
    position: relative;
    bottom: -90px;

    &:hover {
      background-color: #colors[quinary];
    }
  }

}


  