@import "../../assets/style.less";

.faq-dark, .faq-dark h1 {
  color: #colors[text-primary-dark];
}

.faq-dark {
  .accordion-title {
    background-color: #colors[tertiary-dark];

    &:hover {
      background-color: #colors[tertiary-dark];
      background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
    }
  
    &.active {
      background-color: #colors[tertiary-dark];
      background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
    }
  }

  .accordion-content {
    background-color: #colors[tertiary-dark];
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
  }
}