@import "../../assets/style.less";

.top-nav {
  width: 100%;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #colors[tertiary];

  -moz-box-shadow:    0 1px 5px -1px darken(#colors[tertiary], 70%);
  -webkit-box-shadow: 0 1px 5px -1px darken(#colors[tertiary], 70%);
  box-shadow:         0 1px 5px -1px darken(#colors[tertiary], 70%);

  #logo {
    float: left;
    padding: 5px;
    bottom: -5px;
    height: 4rem;
    width: auto;
    transition: transform 0.3s ease; // This enables a smooth transition effect
  
    &:hover {
      cursor: pointer; // Changes the cursor to indicate the logo is clickable
      transform: scale(1.1); // Enlarges the logo by 10% on hover

    }
}

.top-nav p {
  float:left;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: #colors[text-primary];
  padding: 25px;
  padding-top: 15px;
  margin: 0;
}

.top-nav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .drop-btn {   
  font-size: 1.5rem;
  font-weight: 500;
  color: #colors[text-primary];
  border: none;
  outline: none;
  background-color: #colors[tertiary];
  margin: 0;
  padding: 25px;
  padding-top: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #colors[tertiary];
  min-width: 160px;
  z-index: 1;
  border-radius: 10px;
  border: 2px solid #colors[secondary];
}

.dropdown-content p {
  float: none;
  color:#colors[text-primary];
  text-decoration: none;
  display: block;
  text-align: left; 
  padding: 10px 25px;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.top-nav p:hover, .dropdown:hover .drop-btn, .dropdown-content p:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #colors[secondary];
  text-decoration-thickness: 3px;
  text-decoration-style: solid;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.settings {
  float: right;
}

//when screen is tablet size or less
@media screen and (max-width: 768px) {
  .top-nav p, .dropdown .drop-btn {
    display: none;
  }

  .top-nav p.icon {
    float: right;
    display: block;
    font-size: 1.8rem;
    padding: 16px;
  }
}

//when screen is tablet size or less and the dropdown is toggled
@media screen and (max-width: 768px) {
  .top-nav.responsive #logo {
    display: none;
  }

  .top-nav.responsive .settings {
    float: left;
  }
  
  .top-nav.responsive {
    position: -webkit-sticky;
  }

  .top-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .top-nav.responsive p {
    float: none;
    display: block;
    text-align: left;
  }

  .top-nav.responsive .dropdown {
    float: none;
  }

  .top-nav.responsive .dropdown-content {
    position: relative;
    border: none;
  }

  .top-nav.responsive .dropdown .drop-btn {
    display: block;
    width: 100%;
    text-align: left;
  }
}